* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

/* <!-- <------------------1Home page-------------------> */
.container { 
   position: fixed;
  width: 100%;
  background-color: #fff;

  /* white background */

}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0a0300;
  height: 100px;
  padding: 0px 70px;
}

nav img {
  margin-top: 5px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  /* space between links */
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

/* <!-- <-------------------home------------------->  */

.Home {
  width: 100%;
  height: 100vh;
  position: relative;
}

.Home-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  width: 80%;
  background: #020001;
  height: 100%;

}

.left h1,
p {
  color: #fff;
}

.right {
  width: 55%;
  height: 100%;
  background-image: url(/img/you.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  transition: none;

}






/* <!-----------------------------------Buttons ------------------> */